<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
  {% bibliography --group_by none --query @*[related_1=true]* %}
  {% bibliography --group_by none --query @*[related_2=true]* %}
</div>
